{% if error %}
<div id="error" style="color:red">
    <p><em>{{error}}</em></p>
</div>
{% endif %}


{% extends "layout.html" %}

{% block body %}

<form action="/newUser" method="POST" onsubmit="return check(this)">
<p>Luo Käyttäjä<br>
<p>Tunnus:<br>
<input type="Text" name="newUsername" value = {{username}}></p>
<p>Sähköpostiosoite:<br>
<input type="Text" name="emailAddress" value = {{email}}></p>
<p>Puhelinnumero:<br>
<input type="Text" name="phoneNumber" value = {{phone}}></p>

<p>Osoite:<br>
<input type="Text" name="address" value = {{address}}></p>

<p>Salasana:<br>
<input type="password" name="newPassword" value = {{password}}></p>
<input type="submit" value="Luo käyttäjä">
<a href="/">Takaisin</a>
</form>

{% endblock %}






<script>
function check(form) {
	
	
	
    if (form.newUsername.value.length == 0) {
        alert("Tunnus ei saa olla tyhjä!");
        return false;
    }
    
    
    if (form.newPassword.value.length < 8) {
        alert("Salasana liian lyhyt!");
        return false;
    }
    
    return true;
}
</script>
