<form action="/newUser" method="POST" onsubmit="return check(this)">

<p>Luo Käyttäjä<br>
<p>Tunnus:<br>
<input type="Text" name="newUsername"></p>
<p>Sähköpostiosoite:<br>
<input type="Text" name="emailAddress"></p>
<p>Puhelinnumero:<br>
<input type="Text" name="phoneNumber"></p>

<p>Osoite:<br>
<input type="Text" name="address"></p>

<p>Salasana:<br>
<input type="password" name="newPassword"></p>
<input type="submit" value="Luo käyttäjä">
</form>



<script>
function check(form) {
	alert("ddd");
    if (form.newUsername.value.length == 0) {
        alert("Tunnus ei saa olla tyhjä!");
        return false;
    }
   
    
   if(!validateEmail(form.emailAddress){
   	    alert("Sähköposti on väärässä muodossa");
        return false;
   		 
   }
    
     if (form.newPassword.value.length < 8) {
        alert("Salasana liian lyhyt");
        return false;
    }
    
    return true;
}



function validateEmail(email) {
    const re = /^([0-9a-zA-Z]([-\.\+\_\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$/;
    return re.test(String(email).toLowerCase());
}
</script>
