{% if error %}
<div id="error" style="color:red">
    <p><em>{{error}}</em></p>
</div>
{% endif %}

{% extends "layout.html" %}

{% block body %}




{% if email%}



<form action="/applyNewEmail" method="POST">






Käyttäjänimi jonka sähköpostiosoitteen haluat muuttaa:
<input type="Text" name ="user" ></p>

Uusi sähköpostiosoite:
<input type="Text" name ="email"></p>

<input type="submit" value="muokkaa sähköpostiosoitetta">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">


</form>



{% elif username %}

<form action="/applyNewUsername" method="POST">







Käyttäjänimi jonka nimen haluat muuttaa:
<input type="Text" name ="user" ></p>


Uusi käyttäjänimi:
<input type="Text" name ="newUser" ></p>

<input type="submit" value="muokkaa käyttäjänimeä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">


</form>

{% elif phoneNumber %}


<form action="/applyNewPhonenumber" method="POST">








Käyttäjänimi jonka puhelinnumeron haluat muuttaa:
<input type="Text" name ="user" ></p>

Uusi puhelinnumero:
<input type="Text" name ="phoneNumber"></p>

<input type="submit" value="muokkaa puhelinnumeroa">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

{% elif address %}



<form action="/applyNewAddress" method="POST">








Käyttäjänimi jonka osoitteen haluat muuttaa:
<input type="Text" name ="user" ></p>

Uusi osoite:
<input type="Text" name ="address"></p>

<input type="submit" value="muokkaa osoitetta">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>




{% else %}

<p>Mitä tietoa haluat muokata?<br>

<form action="/changeUsername" method="POST">


 


<input type="submit" value="Käyttäjänimi">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>



<form action="/changeEmail" method="POST">


<input type="submit" value="Sähköpostiosoite">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

<form action="/changePhonenumber" method="POST">
<input type="submit" value="puhelinnumero">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

<form action="/changeAddress" method="POST">
<input type="submit" value="osoite">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">



</form>

<a href="/mainuserPage">Takaisin</a>



{% endif %}
{% endblock %}


<script>
function check(form) {
	
	
	
    if (form.newUsername.value.length == 0) {
        alert("Tunnus ei saa olla tyhjä!");
        return false;
    }
   
    
    return true;
}
</script>
