
{% if error %}
<div id="error" style="color:red">
    <p><em>{{error}}</em></p>
</div>
{% endif %}

{% if success %}
<div id="error" style="color:green">
    <p><em>{{success}}</em></p>
</div>
{% endif %}


{% extends "layout.html" %}

{% if session.username %}



{% block body %}

{%if userInfo %}
Asiakkaiden tiedot:

<ul>
{% for i in userInfo %}
<li> {{ i }}
{% endfor %}
</ul>
{% endif %}


{%if cardOrderInfo %}

<form action="/acceptSelectedCards" method="POST">



Uusien korttien tilaukset:

<ul>
{% for i in cardOrderInfo %}



<li> {{ i }}
{% endfor %}
</ul>




Valitse Käyttäjien nimet joiden kortit hyväksytään:
<ul>
{% for i in cardOrdererNameList %}



<input type="checkbox" name="usersCards" value= {{i}}> {{i}}


{% endfor %}
</ul>



<input type="submit" value="Hyväksy valittujen käyttäjien kortit">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>



{% endif %}



{%if accountOrderInfo %}


<form action="/acceptSelectedCustomers" method="POST">



Uusien käyttäjien tilaukset:

<ul>
{% for i in accountOrderInfo %}



<li> {{ i }}
{% endfor %}
</ul>




Valitse käyttäjät jotka hyväksytään:
<ul>
{% for i in usernameList %}



<input type="checkbox" name="users" value= {{i}}> {{i}}


{% endfor %}
</ul>



<input type="submit" value="Hyväksy valitut käyttäjät">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>






{% endif %}

{%if warnings %}




Varoitukset:

<ul>
{% for i in warnings %}



<li> {{ i }}
{% endfor %}
</ul>



{% endif %}






<form action="/showCustomerInfo" method="POST">

<input type="submit" value="Näytä asiakkaiden tiedot">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>







<form action="/changeUserInfo" method="POST">


<input type="submit" value="Muokkaa asiakkaan tietoja">

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>




<form action="/showCardOrders" method="POST">


<input type="submit" value="Näytä tilatut kortit">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">


</form>

<form action="/showAccountOrders" method="POST">


<input type="submit" value="Näytä tilatut käyttäjät">

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

<form action="/showWarnings" method="POST">


<input type="submit" value="Näytä kortteihin liittyvät varoitukset">

<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>


<a href="/logout">Kirjaudu ulos</a>


{% endblock %}
{% endif %}