
{% if success %}
<div id="error" style="color:green">
    <p><em>{{success}}</em></p>
</div>
{% endif %}


{% extends "layout.html" %}
{% if session.username %}

{% block body %}

<form action="/userPage" method="POST">

<p>Olet kirjautunut nimellä {{ session.username }}</p>

{%if info %}
Käyttäjätiedot:

<ul>
{% for i in info %}
<li> {{ i }}
{% endfor %}
</ul>     

{% else %}


<input type="submit" value="Näytä tiedot">


{% endif %}


{% if cardInfo %}



Korttien tiedot:

<ul>
{% for i in cardInfo %}
<li> {{ i }} 
{% endfor %}
</ul> 

<form action="/-" method="POST">
<input type="submit", value="Tee ilmoitus kadonneesta kortista">

</form>
{% else %}

<a href="/showCards">Näytä kortit</a>

{% endif %}


</form>


<form action="/reportMissingCard" method="POST">

<input type="submit", value="Tee ilmoitus kadonneesta kortista">

</form>

<form action="/addCard" method="POST">


<input type="submit" value="Tilaa uusi kortti">
<a href="/logout">Kirjaudu ulos</a>

</form>


{% endblock %}

{% endif %}


