
{% if success %}
<div id="error" style="color:green">
    <p><em>{{success}}</em></p>
</div>
{% endif %}


{% if error %}
<div id="error" style="color:red">
    <p><em>{{error}}</em></p>
</div>
{% endif %}


{% extends "layout.html" %}
{% if session.username %}

{% block body %}

<form action="/ShowUserInfo" method="POST">

<p>Olet kirjautunut nimellä {{ session.username }}</p>

{%if user_info %}
Käyttäjätiedot:

<ul>
{% for i in user_info %}
<li> {{ i }}
{% endfor %}
</ul>     

{% else %}


<input type="submit" value="Näytä tiedot">


{% endif %}


{% if cardInfo %}



Korttien tiedot:

<ul>
{% for i in cardInfo %}
<li> {{ i }} 
{% endfor %}
</ul> 



</form>
{% else %}

<a href="/showCards">Näytä kortit</a>

{% endif %}




{% if bankAccountInfo %}



Tilitiedot:

<ul>
{% for i in bankAccountInfo %}
<li> {{ i }} 
{% endfor %}
</ul> 

{% endif %}


</form>


<form action="/reportMissingCard" method="POST">

<input type="submit", value="Tee ilmoitus kadonneesta kortista">

</form>

<form action="/addCard" method="POST">


<input type="submit" value="Tilaa uusi kortti">

</form>


<form action="/showBankAccount" method="POST">


<input type="submit" value="näytä tilitiedot">
<a href="/logout">Kirjaudu ulos</a>

</form>



{% endblock %}

{% endif %}


